chardet~=5.2.0
graphviz~=0.20.3
lxml~=5.3.0
networkx~=3.4.2
numpy~=2.2.0
pandas~=2.2.3
pdfminer.six
pdfplumber~=0.11.4
Pillow~=11.0.0
pytest~=8.3.3
requests~=2.32.3
selenium~=4.25.0
setuptools~=75.8.0
SPARQLWrapper~=2.0.0
webdriver-manager
