chardet
# idna
# geopy
graphviz
keybert
lxml
networkx  # only used in AmiGraph and that is questionable
nltk
numpy
# packaging
pandas
# pdfminer.six
pdfplumber
# Pillow
pytest
# pyvis
# rake-nltk
requests
scikit-learn
selenium
# setuptools
SPARQLWrapper
# tinycss
# tkinterweb
webdriver-manager
# yake
